/* mobile last */

/* importacion de Variables */
@import './base/variables';

/* importacion de parties de sass */

@import './secctions/contacto';
@import './secctions/footer';
@import './secctions/header';
@import './secctions/index';
@import './secctions/nosotros';
@import './secctions/productos';
@import './secctions/general';
@import './secctions/tendencias';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* adaptacion responsive sin boostrap */
@media (max-width: 781px){

    .titulo {
        font-size: x-large;
    }

    .formulario{
        padding: 30px 0px;
        width: 100%;
    }

    .section2{
        flex-direction: column;

    }

    .section3{
        flex-direction: column;
    }

    div .carousel-item{
        img{
            margin-top: 20px;
        }
    }

    h2 {
        .alineacion1{
            top: 265px;
        }
    }


    h2 {
        .alineacion2{
            top: 785px;
        }
    }

    p.textComplete {
         margin: 20px;
          margin-left: 40px;
    }

    .alineacion1 {
        text-align: center;
        top: 297px;
    }

    .alineacion2 {
        text-align: center;
        top: 800px;
    }

    .overflow2 {
        width: 80%;
        margin-left: 50px;
     
    }

    .main{
        max-height: 510vw;
    }

    .overflow1 {
        height: 510px;
        margin-left: 50px;
    }

    .title2 {
        font-size: 40px;
    }
}