/* mobile last */
/* paleta de colores (ver) */

@import './base/variables';

@import './secctions/contacto';
@import './secctions/footer';
@import './secctions/header';
@import './secctions/index';
@import './secctions/nosotros';
@import './secctions/productos';
@import './secctions/general';
@import './secctions/tendencias';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
}

@media (max-width: 781px){

    .titulo {
        font-size: larger;
    }

    .formulario{
       
        padding: 30px 0px
        ;
    }

    .imput{
        width:400px;
    }

    .section2{
        flex-direction: column;

        }
    .section3{
        flex-direction: column;
    }

    div .carousel-item{
        img{
            margin-top: 20px;
        }
    }

    h2 {
        .alineacion1{
            top: 265px;
        }
    
}


    h2 {
        .alineacion2{
            top: 785px;
        }
    
}
}